.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  .title {
    margin: 50px 0;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .faq {
    width: 80%;
    height: 20px;
    border: 1px solid rgba(208, 208, 208, 0.434);
    border-radius: 16px;
    cursor: pointer;
    transition: all ease 0.2s;
    overflow: hidden;
    overflow-y: hidden;

    &:hover {
      border: 1px solid #307df6;
      background-color: rgba(48, 125, 246, 0.1);
    }
    .faqTitle {
      font-size: 17px;
      line-height: 25px;
      font-weight: 700;
      padding-bottom: 30px;
    }
    .faqDescription {
      padding-top: 15px;
      margin-bottom: 15px;
    }
  }
  .active {
    background-color: #307df6;
    height: 100%;
    color: white;
    border: 1px solid rgb(208, 208, 208);
    transition: all ease 0.3s;
    &:hover {
      border: 1px solid rgb(208, 208, 208);
      background-color: #307df6;
    }
  }
}

@media (min-width: 800px) {
  .wrapper {
    .title {
      font-size: 1.6rem;
    }
    .faq {
      width: 70%;
      padding: 20px 30px;
      .faqTitle {
        font-size: 19px;
      }
    }
  }
}
@media (min-width: 1100px) {
  .wrapper {
    .faq {
      width: 50%;
    }
  }
}
@media (min-width: 1300px) {
  .wrapper {
    .title {
      font-size: 1.8rem;
    }
    .faq {
      width: 40%;
    }
  }
}
